#navbar{
   display: flex;
   justify-content: space-evenly;
  
   
}

#navbar>div{
    background-color: rgb(145, 145, 245);
    font-size: xx-large;

}
a{
    text-decoration: none;
    color: black;
}